<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Преимущества</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Контакты</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 text-dark fs-base" type="search"
                 placeholder="Поиск чая" aria-label="Search">
          <button class="btn hvr-curl-bottom-right hvr-buzz btn-outline-primary" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<section class="container pt-4 mt-5 mb-5">
  <div class="myClass">
    <div>
      <img src="assets/images/bannerone.png" alt="Banner">
    </div>
    <div>
      <img src="assets/images/bannersecond.png" alt="Banner">
    </div>
    <div>
      <img src="assets/images/bannerthird.png" alt="Banner">
    </div>
  </div>
</section>

<main class="container pt-4 mb-5">
  <h1 class="text-center fs-1 fw-bold pb-4 mb-4 animate__animated animate__backInDown">Наши чайные коллекции</h1>
  <div class="container">
    <div class="row g-4 animate__animated animate__backInLeft">
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <a href="assets/images/obrazecone.png" class="image-link">
            <img src="assets/images/obrazecone.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Детокс чай лайм</h5>
            <p class="card-text fs-5-exact">Великолепный чай внесет в вашу жизнь яркие краски и вкус
              расслабления</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <a href="assets/images/obrazecsecond.png" class="image-link">
            <img src="assets/images/obrazecsecond.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Ягодный чай</h5>
            <p class="card-text fs-5-exact">Нотки ягод позволят вам расслабиться и насладиться
              великолепием этого
              чая</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <a href="assets/images/obrazecthird.png" class="image-link">
            <img src="assets/images/obrazecthird.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Цветочный чай</h5>
            <p class="card-text fs-5-exact">Душистые цветы создают невероятный аромат и наполняют вас
              энергией</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100 mb-2">
          <a href="assets/images/obrazecfour.png" class="image-link">
            <img src="assets/images/obrazecfour.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Очищающий чай</h5>
            <p class="card-text fs-5-exact">Бесподобный чай для получения утреннего заряда бодрости</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <a href="assets/images/obrazecfifty.png" class="image-link">
            <img src="assets/images/obrazecfifty.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Кислый чай</h5>
            <p class="card-text fs-5-exact">Кислый чай для настоящих ценителей кислинки во время
              чаепития</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <a href="assets/images/obrazecsix.png" class="image-link">
            <img src="assets/images/obrazecsix.png" class="card-img-top" alt="Obrazec">
          </a>
          <div class="card-body text-start">
            <h5 class="card-title fs-4 fw-bold">Лимонная мята</h5>
            <p class="card-text fs-5-exact">Смесь лимона с мятой сделает ваш день самым лучшим</p>
            <a href="#"
               class="btn hvr-curl-bottom-right hvr-buzz btn-primary flex-shrink-0 fs-5">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<section class="container pt-4 mb-5">
  <h2 class="text-center fs-1 fw-bold mb-5 mb-md-4 mb-sm-3 mb-2">Ответы на часто задаваемые вопросы</h2>
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 col-xs-12">
      <div class="text-start" id="accordion">
        <h3 class="bg-primary mb-3 text-white p-4 border-0 rounded-4 fw-bold mb-lg-3 mb-md-2 mb-sm-1 fs-4">Собираете ли вы подарочные
          боксы?</h3>
        <div class="border-0">
          <p class="mb-0 fs-6">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
        <h3 class="bg-primary mb-3 text-white p-4 border-0 rounded-4 fw-bold mb-lg-3 mb-md-2 mb-sm-1 fs-4">Сколько у вас разновидностей
          чая?</h3>
        <div class="border-0">
          <p class="mb-0 fs-6">
            В нашей коллекции более 25 разновидностей чая на любой вкус!
          </p>
        </div>
        <h3 class="bg-primary mb-3 text-white p-4 border-0 rounded-4 fw-bold mb-lg-3 mb-md-2 mb-sm-1 fs-4">В какой срок осуществляется
          доставка?</h3>
        <div class="border-0">
          <p class="mb-0 fs-6">
            Доставка осуществляется в течение 24 часов с момента оформления заявки!
          </p>
        </div>
        <h3 class="bg-primary mb-3 text-white p-4 border-0 rounded-4 fw-bold mb-lg-3 mb-md-2 mb-sm-1 fs-4">У вас обновляется
          ассортимент?</h3>
        <div class="border-0">
          <p class="mb-0 fs-6">
            Наши специалисты постоянно отслеживают тенденции на рынке чая, оперативно реагируя на
            возникающие потребности и предлагая новинки, пользующиеся повышенным спросом.
          </p>
        </div>
        <h3 class="bg-primary mb-3 text-white p-4 border-0 rounded-4 fw-bold mb-lg-3 mb-md-2 mb-sm-1 fs-4">Какого объема у вас пачки
          чая?</h3>
        <div class="border-0">
          <p class="mb-0 fs-6">
            Стандартно мы предлагаем фасовку чая по 25, 50 и 100 грамм. По желанию клиента имеем возможность
            упаковать чай в красивые пакеты по 250, 500 и 1000 грамм.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="text-center fs-1 fw-bold pb-5 mb-md-4 mb-sm-3 mb-2">Сделать заказ</h2>
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-6">
      <form class="row g-3 needs-validation mx-auto pb-5" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label fs-5">Имя</label>
          <input type="text" class="form-control" id="validationCustom01" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label fs-5">Фамилия</label>
          <input type="text" class="form-control" id="validationCustom02" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom03" class="form-label fs-5">Телефон</label>
          <input type="text" class="form-control" id="validationCustom03" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom04" class="form-label fs-5">Страна</label>
          <input type="text" class="form-control" id="validationCustom04" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom05" class="form-label fs-5">Индекс</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col">
          <label for="validationCustom06" class="form-label fs-5">Адрес</label>
          <input type="text" class="form-control" id="validationCustom06" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12">
          <button class="btn hvr-curl-bottom-right hvr-buzz btn-primary fs-5" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
  <div class="mb-5" id="thankYouMessage">
    <h2>Спасибо за заказ!</h2>
  </div>
</section>
